# Byte-compiled / cache
__pycache__/
*.py[cod]
*.ipynb_checkpoints

# Environment files
.env
.venv/
*.env

# Jupyter output
*.ipynb

# Data
data/raw/
data/processed/

# Models
*.pkl
*.h5
models/

# Logs
*.log

# VSCode
.vscode/

# Microsoft Word documents
*.doc
*.docx
